.coinDisplay {
    padding: 10px 20px;
    width: 200px;
    margin: 0 auto 0;
}
.coinDisplay .coin-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.coinDisplay .coin-container.negative {
    color: red;
}
.coinDisplay .coin {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: cover;
}
.coinDisplay .gold {
    background: url('../../assets/gold.png') no-repeat center center;
}
.coinDisplay .silver {
    background: url('../../assets/silver.png') no-repeat center center;
}
.coinDisplay .copper {
    background: url('../../assets/copper.png') no-repeat center center;
}
.coinDisplay .value {
    display: inline-block;
    margin: 0 18px 0 1px;
    min-width: 27px;
    text-align: right;
    font-size: 22px;
}
.coinDisplay .label {
    font-size: 10px;
    margin: 0 18px 0 0;
    text-align: right;
}