.quantityEntryForm {
    padding: 20px;
}
.quantityEntryForm .inputs {
    display: flex;
    justify-content: center;
}
.quantityEntryForm input {
    width: 60px;
    padding: 10px 10px 10px 30px;
    margin: 0 5px;
    font-size: 24px;
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: none;
    outline: none;
}
.quantityEntryForm .label {
    margin-top: 10px;
    text-align: center;
}