/* You can add global styles to this file, and also import other style files */

html {
    /* background: url('../assets/bg01.jpg') no-repeat center center fixed;
    background-size: cover; */
    background-color: white;
    color: black;
}

input {
    width: 60px;
    padding: 10px 10px 10px 30px;
    margin: 0 5px;
    font-size: 24px;
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: none;
    outline: none;
    color: black;
}